In [1]:
import mysql.connector

In [2]:
mydb=mysql.connector.connect(host="localhost",user="root",password="Sharath@9224",database="reddy")
mycursor=mydb.cursor()
#mycursor.execute("select * from crops")
sql="select crop,year,area from crops"

mycursor.execute(sql)
for i in mycursor:
    print(i)

('rice', '2014-15', 15759)
('rice', '2015-16', 15987)
('rice', '2016-17', 15747)
('rice', '2017-18', 15958)
('rice', '2018-19', 15848)
('maize', '2014-15', 1199)
('maize', '2015-16', 1227)
('maize', '2016-17', 1325)
('maize', '2017-18', 1369)
('maize', '2018-19', 951)
('greengram', '2014-15', 45)
('greengram', '2015-16', 40)
('greengram', '2016-17', 51)
('greengram', '2017-18', 40)
('greengram', '2018-19', 38)
('redgram', '2014-15', 27)
('red gram', '2015-16', 12)
('red gram', '2016-17', 16)
('red gram', '2017-18', 33)
('red gram', '2018-19', 30)
('cotton', '2014-15', 183)
('cotton', '2015-16', 176)
('cotton', '2016-17', 135)
('cotton', '2017-18', 157)
('cotton', '2018-19', 79)
('turmeric', '2014-15', 3)
('turmeric', '2015-16', 7)
('turmeric', '2016-17', 2)
('turmeric', '2017-18', 3)
('turmeric', '2018-19', 6)
('sugarcane', '2014-15', 2627)
('sugarcane', '2015-16', 1863)
('sugarcane', '2016-17', 1711)
('sugarcane', '2017-18', 1448)
('sugarcane', '2018-19', 1266)
('mango', '2014-15', 3408)
('mango', '2015-16', 2527)
('mango', '2016-17', 2092)
('mango', '2017-18', 1829)
('mango', '2018-19', 1627)
('cashew nut', '2014-15', 284)
('cashew nut', '2015-16', 254)
('cashew nut', '2016-17', 223)
('cashew nut', '2017-18', 226)
('cashew nut', '2018-19', 189)
('banana', '2014-15', 116)
('banana', '2015-16', 235)
('banana', '2016-17', 76)
('banana', '2017-18', 70)
('banana', '2018-19', 36)
('guava', '2014-15', 176)
('guava', '2015-16', 242)
('guava', '2016-17', 302)
('guava', '2017-18', 345)
('guava', '2018-19', 363)
('lemon', '2014-15', 49)
('lemon', '2015-16', 54)
('lemon', '2016-17', 67)
('lemon', '2017-18', 95)
('lemon', '2018-19', 95)
('coconut', '2014-15', 188)
('coconut', '2015-16', 169)
('coconut', '2016-17', 137)
('coconut', '2017-18', 152)
('coconut', '2018-19', 155)
('sapota', '2014-15', 21)
('sapota', '2015-16', 79)
('sapota', '2016-17', 68)
('sapota', '2017-18', 74)
('sapota', '2018-19', 70)
('palmoil', '2014-15', 1487)
('palmoil', '2015-16', 1792)
('palmoil', '2016-17', 1866)
('palmoil', '2017-18', 1915)
('palmoil', '2018-19', 1955)
('eukalptus', '2014-15', 2003)
('eukalptus', '2015-16', 2548)
('eukalytus', '2016-17', 2585)
('eukalytus', '2017-18', 2664)
('eukalytus', '2018-19', 2668)
('malbari', '2014-15', 5)
('malbari', '2015-16', 5)
('malbari', '2016-17', 19)
('malbari', '2017-18', 17)
('malbari', '2018-19', 19)
('chedu vepa', '2014-15', 15)
('chedu vepa', '2015-16', 15)
('chedu vepa', '2016-17', 15)
('chedu vepa', '2017-18', 19)
('chedu vepa', '2018-19', 19)
('tekku', '2014-15', 25)
('tekku', '2015-16', 32)
('tekku', '2016-17', 34)
('tekku', '2017-18', 40)
('tekku', '2018-19', 40)
('errachandanam', '2014-15', 5)
('errachandanam', '2015-16', 5)
('errachandanam', '2016-17', 9)
('errachandanam', '2017-18', 10)
('errachandanam', '2018-19', 12)

In [3]:
mycursor.execute("select crop,year from crops where crop='rice'")
for i in mycursor:
    print(i)

('rice', '2014-15')
('rice', '2015-16')
('rice', '2016-17')
('rice', '2017-18')
('rice', '2018-19')

In [4]:
mycursor.execute("select * from crops where area>2000")
for i in mycursor:
    print(i)

('rice', '2014-15', 15759, '1360', 378216)
('rice', '2015-16', 15987, '1414', 383688)
('rice', '2016-17', 15747, '1470', 377928)
('rice', '2017-18', 15958, '1550', 382992)
('rice', '2018-19', 15848, '1750', 380352)
('sugarcane', '2014-15', 2627, '220', 525400)
('mango', '2014-15', 3408, '10000', 51015)
('mango', '2015-16', 2527, '10100', 37905)
('mango', '2016-17', 2092, '11000', 31380)
('eukalptus', '2014-15', 2003, '8000', 460690)
('eukalptus', '2015-16', 2548, '8500', 586040)
('eukalytus', '2016-17', 2585, '9000', 594550)
('eukalytus', '2017-18', 2664, '9500', 612720)
('eukalytus', '2018-19', 2668, '10000', 613640)

In [5]:
mycursor.execute("select crop,year from crops where area>2000 and area<4000")
for i in mycursor:
    print(i)

('sugarcane', '2014-15')
('mango', '2014-15')
('mango', '2015-16')
('mango', '2016-17')
('eukalptus', '2014-15')
('eukalptus', '2015-16')
('eukalytus', '2016-17')
('eukalytus', '2017-18')
('eukalytus', '2018-19')

In [6]:
mycursor.execute("select count(*) from crops where area>2000 and area<4000")
for i in mycursor:
    print(i)

(9,)

In [7]:
mycursor.execute("select * from crops where( area>1300 and crop='maize')")
for i in mycursor:
    print(i)

('maize', '2016-17', 1325, '1365', 33125)
('maize', '2017-18', 1369, '1425', 34225)

In [17]:
mycursor.execute("select * from crops where (area>1300 and area<4000)order by area desc")
for i in mycursor:
    print(i)

('mango', '2014-15', 3408, '10000', 51015)
('eukalytus', '2018-19', 2668, '10000', 613640)
('eukalytus', '2017-18', 2664, '9500', 612720)
('sugarcane', '2014-15', 2627, '220', 525400)
('eukalytus', '2016-17', 2585, '9000', 594550)
('eukalptus', '2015-16', 2548, '8500', 586040)
('mango', '2015-16', 2527, '10100', 37905)
('mango', '2016-17', 2092, '11000', 31380)
('eukalptus', '2014-15', 2003, '8000', 460690)
('palmoil', '2018-19', 1955, '40000', 508300)
('palmoil', '2017-18', 1915, '38000', 497900)
('palmoil', '2016-17', 1866, '36000', 485160)
('sugarcane', '2015-16', 1863, '230', 372600)
('mango', '2017-18', 1829, '11500', 87435)
('palmoil', '2015-16', 1792, '35000', 465920)
('sugarcane', '2016-17', 1711, '230', 342200)
('mango', '2018-19', 1627, '13000', 24405)
('palmoil', '2014-15', 1487, '30000', 386620)
('sugarcane', '2017-18', 1448, '255', 289600)
('maize', '2017-18', 1369, '1425', 34225)
('maize', '2016-17', 1325, '1365', 33125)

In [22]:
mycursor.execute("select * from crops order by area desc limit 10")
for i in mycursor:
    print(i)

('rice', '2015-16', 15987, '1414', 383688)
('rice', '2017-18', 15958, '1550', 382992)
('rice', '2018-19', 15848, '1750', 380352)
('rice', '2014-15', 15759, '1360', 378216)
('rice', '2016-17', 15747, '1470', 377928)
('mango', '2014-15', 3408, '10000', 51015)
('eukalytus', '2018-19', 2668, '10000', 613640)
('eukalytus', '2017-18', 2664, '9500', 612720)
('sugarcane', '2014-15', 2627, '220', 525400)
('eukalytus', '2016-17', 2585, '9000', 594550)

In [23]:
mycursor.execute("select * from crops where (area>1300 and crop='maize' or crop='sugarcane')")
for i in mycursor:
    print(i)

('maize', '2016-17', 1325, '1365', 33125)
('maize', '2017-18', 1369, '1425', 34225)
('sugarcane', '2014-15', 2627, '220', 525400)
('sugarcane', '2015-16', 1863, '230', 372600)
('sugarcane', '2016-17', 1711, '230', 342200)
('sugarcane', '2017-18', 1448, '255', 289600)
('sugarcane', '2018-19', 1266, '275', 253200)

In [24]:
mycursor.execute("select crop,sum(area) from crops group by crop")
for i in mycursor:
    print(i)

('rice', Decimal('79299'))
('maize', Decimal('6071'))
('greengram', Decimal('214'))
('redgram', Decimal('27'))
('red gram', Decimal('91'))
('cotton', Decimal('730'))
('turmeric', Decimal('21'))
('sugarcane', Decimal('8915'))
('mango', Decimal('11483'))
('cashew nut', Decimal('1176'))
('banana', Decimal('533'))
('guava', Decimal('1428'))
('lemon', Decimal('360'))
('coconut', Decimal('801'))
('sapota', Decimal('312'))
('palmoil', Decimal('9015'))
('eukalptus', Decimal('4551'))
('eukalytus', Decimal('7917'))
('malbari', Decimal('65'))
('chedu vepa', Decimal('83'))
('tekku', Decimal('171'))
('errachandanam', Decimal('41'))

In [25]:
mycursor.execute("select year,Min(area)from crops group by year")
for i in mycursor:
    print(i)

('2014-15', 3)
('2015-16', 5)
('2016-17', 2)
('2017-18', 3)
('2018-19', 6)

In [26]:
mycursor.execute("select * from crops limit 10")
for i in mycursor:
    print(i)

('rice', '2014-15', 15759, '1360', 378216)
('rice', '2015-16', 15987, '1414', 383688)
('rice', '2016-17', 15747, '1470', 377928)
('rice', '2017-18', 15958, '1550', 382992)
('rice', '2018-19', 15848, '1750', 380352)
('maize', '2014-15', 1199, '1310', 29975)
('maize', '2015-16', 1227, '1325', 30675)
('maize', '2016-17', 1325, '1365', 33125)
('maize', '2017-18', 1369, '1425', 34225)
('maize', '2018-19', 951, '1700', 23775)

In [27]:
mycursor.execute("select * from crops limit 15 offset 35")
for i in mycursor:
    print(i)

('mango', '2014-15', 3408, '10000', 51015)
('mango', '2015-16', 2527, '10100', 37905)
('mango', '2016-17', 2092, '11000', 31380)
('mango', '2017-18', 1829, '11500', 87435)
('mango', '2018-19', 1627, '13000', 24405)
('cashew nut', '2014-15', 284, '10000', 568)
('cashew nut', '2015-16', 254, '11000', 508)
('cashew nut', '2016-17', 223, '12000', 446)
('cashew nut', '2017-18', 226, '13000', 452)
('cashew nut', '2018-19', 189, '19000', 378)
('banana', '2014-15', 116, '6000', 18560)
('banana', '2015-16', 235, '7000', 43600)
('banana', '2016-17', 76, '9000', 12160)
('banana', '2017-18', 70, '10000', 11200)
('banana', '2018-19', 36, '15000', 5760)