In [26]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [27]:
df=pd.read_csv("gre.csv")
df.head()

   gmat  gpa  work_experience  admitted
0   780  4.0                3         1
1   750  3.9                4         1
2   690  3.3                3         1
3   710  3.7                5         1
4   680  3.9                4         1

In [28]:
df.shape

(40, 4)

In [29]:
df['admitted'].value_counts()

1    21
0    19
Name: admitted, dtype: int64

In [30]:
X=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

In [31]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [32]:
from sklearn.neighbors import KNeighborsClassifier

In [33]:
knn=KNeighborsClassifier(n_neighbors=3,metric="euclidean")
#knn=KNeighborsClassifier(n_neighbors=3,metric="manhattan")

In [34]:
knn.fit(X_train,y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=3)

In [35]:
y_pred=knn.predict(X_test)
y_pred

array([0, 0, 1, 1, 0, 0, 1, 1], dtype=int64)

In [38]:
cm=metrics.confusion_matrix(y_pred,y_test)
cm

array([[4, 0],
       [0, 4]], dtype=int64)

In [39]:
metrics.accuracy_score(y_test,y_pred)

1.0

In [40]:
#testing
gmat=int(input("enter gmat score:"))
gpa=float(input("enter gpa:"))
exp=int(input("enter experience:"))

print("predication:",knn.predict([[gmat,gpa,exp]]))

enter gmat score:700
enter gpa:3.5
enter experience:4
predication: [1]