In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv('Admission_Prediction.csv')
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337.0,118.0,4.0,4.5,4.5,9.65,1,0.92
1,2,324.0,107.0,4.0,4.0,4.5,8.87,1,0.76
2,3,NaN,104.0,3.0,3.0,3.5,8.00,1,0.72
3,4,322.0,110.0,3.0,3.5,2.5,8.67,1,0.80
4,5,314.0,103.0,2.0,2.0,3.0,8.21,0,0.65

In [3]:
print("NaN Values list before Cleaning \n",df.isna().sum())

NaN Values list before Cleaning
 Serial No.            0
GRE Score            15
TOEFL Score          10
University Rating    15
SOP                   0
LOR                   0
CGPA                  0
Research              0
Chance of Admit       0
dtype: int64

In [5]:
# As we can see, there are some column with missing values. we need to impute those missing values.
df['GRE Score'].fillna(df['GRE Score'].mean(),inplace=True)
df['TOEFL Score'].fillna(df['TOEFL Score'].mean(),inplace=True)
df['University Rating'].fillna(df['University Rating'].mode()[0],inplace=True)

In [6]:
print("NaN Values list after Cleaning \n",df.isna().sum())

NaN Values list after Cleaning
 Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [7]:
x=df.drop(['Chance of Admit','Serial No.'],axis=1) # df.iloc[:,1:-1]
y=df['Chance of Admit']

In [8]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.2, random_state=0)

In [9]:
#importing the  model
from sklearn.svm import SVR

In [10]:
svr= SVR(C=1)
svr.fit(train_x, train_y)

SVR(C=1)

In [11]:
pred_y=svr.predict(test_x)

In [12]:
from sklearn.metrics import r2_score
from sklearn import metrics

In [13]:
rmse = np.sqrt(metrics.mean_squared_error(test_y, pred_y))
print("RMSE Score :",rmse)

RMSE Score : 0.08135757432865214

In [14]:
score= r2_score(test_y,svr.predict(test_x))
print("R2 Score : ",score)

R2 Score :  0.6210048869498759