In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn.metrics as metrics

In [39]:
df=pd.read_csv("Social_Network_Ads.csv")
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [40]:
df.shape

(400, 5)

In [41]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [42]:
#taking data into X and y
X=df.iloc[:,2:4].values
y=df.iloc[:,4].values

In [51]:
#spliting the data
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.8,random_state=0)

In [52]:
#fitting the binary logistic regression 
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression().fit(X_train,y_train)

In [53]:
#predicting the values 
y_pred=lr.predict(X_test)
print("score of train data:",lr.score(X_train,y_train))
print("score of test data:",lr.score(X_test,y_test))

score of train data: 0.621875
score of test data: 0.725

In [54]:
print("predicted values:\n",y_pred)
print("test values:\n",y_test)

predicted values:
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0]
test values:
 [0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 1 0 1 0 0 0 0 0 1 1 0 0 0 0
 0 0 1 0 0 0 0 1 0 0 1 0 1 1 0 0 0 1 1 0 0 1 0 0 1 0 1 0 1 0 0 0 0 1 0 0 1
 0 0 0 0 1 1]

In [55]:
cm = metrics.confusion_matrix(y_test,y_pred)
cm

array([[58,  0],
       [22,  0]], dtype=int64)

In [56]:
metrics.accuracy_score(y_test,y_pred)*100

72.5