In [1]:
import mysql.connector
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\sharath reddy\anaconda3\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\sharath reddy\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)

In [4]:
mydb=mysql.connector.connect(host="localhost",user="root",password="Sharath@9224")
mycursor=mydb.cursor()
mycursor.execute("show databases")
for i in mycursor:
    print(i)

('books',)
('covid',)
('information_schema',)
('mydb',)
('mysql',)
('orderdb',)
('orders',)
('performance_schema',)
('publish',)
('sales',)
('sharath',)
('swiggy',)
('sys',)

In [7]:
mydb=mysql.connector.connect(host="localhost",user="root",password="Sharath@9224",database="sharath")
mycursor=mydb.cursor()
mycursor.execute("show tables")
for i in mycursor:
    print(i)

('student',)
('student1',)

In [12]:
mydb=mysql.connector.connect(host="localhost",user="root",password="Sharath@9224",database="sharath")
mycursor=mydb.cursor()
mycursor.execute("select * from student")
print(mycursor.fetchall())
print(mycursor.fetchone())
print(mycursor.fetchmany(3))

[(101, 'kumar', 86, 95), (106, 'sharath', 85, 92), (107, 'vennapusa', 89, 98)]
None
[]

In [13]:
mydb=mysql.connector.connect(host="localhost",user="root",password="Sharath@9224")
mycursor=mydb.cursor()
mycursor.execute("create database reddy")

mycursor("show database")
for i in mycursor:
    print(i)

DatabaseError: 1007 (HY000): Can't create database 'reddy'; database exists

In [17]:
mydb=mysql.connector.connect(host="localhost",user="root",password="Sharath@9224",database="reddy")
mycursor=mydb.cursor()
mycursor.execute("create table employee(sno int primary key,name varchar(20),age int,sal int)")
mycursor.execute("show tables")
for i in mycursor:
    print(i)

('employee',)

In [19]:
#insert data into single row
mydb=mysql.connector.connect(host="localhost",user="root",password="Sharath@9224",database="reddy")
mycursor=mydb.cursor()
sql="insert into employee value(%s,%s,%s,%s)"
values=(108,"obul",21,78000)
mycursor.execute("insert into employee values(106,'sai',22,48000)")
mydb.commit()
print(mycursor.rowcount,"record inserted")
mycursor.execute("select * from employee")
for i in mycursor:
    print(i)

1 record inserted
(106, 'sai', 22, 48000)

In [20]:
mydb=mysql.connector.connect(host="localhost",user="root",password="Sharath@9224",database="reddy")
mycursor=mydb.cursor()
sql="insert into employee value(%s,%s,%s,%s)"
values=[(102,"obul",21,78000),
       (103,"kumar",22,48000),
       (109,"kiran",25,54000)]
mycursor.executemany(sql,values)
mydb.commit()
print(mycursor.rowcount,"record inserted")
mycursor.execute("select * from employee")
for i in mycursor:
    print(i)

3 record inserted
(102, 'obul', 21, 78000)
(103, 'kumar', 22, 48000)
(106, 'sai', 22, 48000)
(109, 'kiran', 25, 54000)