In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv('Mall_Customers.csv')

In [3]:
X = dataset.iloc[:, [3, 4]]
X

     Annual Income (k$)  Spending Score (1-100)
0                    15                      39
1                    15                      81
2                    16                       6
3                    16                      77
4                    17                      40
..                  ...                     ...
195                 120                      79
196                 126                      28
197                 126                      74
198                 137                      18
199                 137                      83

[200 rows x 2 columns]

In [5]:
from sklearn.cluster import DBSCAN
dbscan=DBSCAN(eps=5,min_samples=6)

In [6]:
# Fitting the model
model=dbscan.fit(X)

In [7]:
labels=model.labels_
print("the label are :",labels)

the label are : [-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1  0  0
  0  0  0 -1  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
  0  0  0 -1 -1  1 -1 -1  2  1  2  1 -1  1  2  3  2  1  2  1  2  3 -1  3
 -1 -1 -1  1 -1  3 -1  3 -1  1 -1  3 -1  1 -1  1 -1  3 -1  3 -1 -1 -1 -1
 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
 -1 -1 -1 -1 -1 -1 -1 -1]

In [8]:
#from sklearn import metrics

print('Length :',len(set(labels)))

Length : 5

In [9]:
#Calculating the number of clusters
n_clusters=len(set(labels))- (1 if -1 in labels else 0)
print("Number of clusters : ",n_clusters)

Number of clusters :  4