In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("data/movie_metadata.csv")
df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [3]:
df['duration'].head(10)

0    178.0
1    169.0
2    148.0
3    164.0
4      NaN
5    132.0
6    156.0
7    100.0
8    141.0
9    153.0
Name: duration, dtype: float64

In [5]:
dt=df.sort_values('duration')
dt

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
2345,Color,Jane Clark,NaN,7.0,23.0,51.0,Traci Dinwiddie,344.0,NaN,Romance|Short,...,NaN,English,USA,NaN,13000.0,2007.0,281.0,5.2,1.85,30
1947,Color,NaN,12.0,7.0,NaN,3.0,John Sparkes,45.0,NaN,Animation|Comedy|Family,...,12.0,English,UK,TV-G,NaN,NaN,7.0,8.3,NaN,834
4079,Color,NaN,38.0,11.0,NaN,0.0,Seth Green,11.0,NaN,Animation|Comedy,...,75.0,English,USA,TV-MA,NaN,NaN,0.0,7.8,1.33,1000
4673,Color,Clark Baker,1.0,14.0,0.0,37.0,Alan Pietruszewski,134.0,NaN,Horror|Sci-Fi|Short|Thriller,...,3.0,English,USA,NaN,NaN,2012.0,93.0,6.2,NaN,14
4439,Color,Robert Greenwald,56.0,20.0,21.0,0.0,Jon Hunter,0.0,NaN,Documentary,...,70.0,English,USA,Not Rated,1500000.0,2005.0,0.0,6.8,1.85,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4517,Color,NaN,2.0,NaN,NaN,206.0,John Jarratt,511.0,NaN,Drama|Horror|Thriller,...,6.0,English,Australia,NaN,NaN,NaN,457.0,7.1,2.00,954
4609,Color,Wajahat Rauf,6.0,NaN,3.0,4.0,Ayesha Omar,7.0,NaN,Comedy|Family,...,15.0,Urdu,Pakistan,NaN,1000000.0,2015.0,5.0,7.0,NaN,259
4690,Color,Joseph Kosinski,4.0,NaN,364.0,567.0,Lauren Cohan,22000.0,NaN,Action|Adventure|Fantasy|Sci-Fi,...,11.0,English,USA,NaN,NaN,2014.0,4000.0,8.1,NaN,1000
4948,Color,Valentine,NaN,NaN,0.0,NaN,Valentine,17.0,NaN,Romance,...,NaN,English,USA,PG-13,125000.0,2015.0,0.0,5.1,NaN,0
4989,Color,Daniel Mellitz,NaN,NaN,0.0,15.0,Chelse Swain,1000.0,NaN,Comedy|Drama,...,3.0,English,USA,NaN,NaN,2006.0,36.0,4.7,NaN,2

In [7]:
dt.duration.head(10)

2345     7.0
1947     7.0
4079    11.0
4673    14.0
4439    20.0
4803    22.0
757     22.0
816     22.0
833     22.0
4281    22.0
Name: duration, dtype: float64

In [8]:
da =df.sort_values("duration",ascending =False)
da.duration.head(10)

1710    511.0
2466    334.0
1501    330.0
1144    325.0
3311    300.0
2970    293.0
1571    289.0
2727    286.0
883     280.0
1980    271.0
Name: duration, dtype: float64

In [10]:
df =pd.read_csv("data/flightdata.csv")
df

,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,DEP_DELAY,ARR_DELAY,CANCELLED,ACTUAL_ELAPSED_TIME,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 14
0,2019-01-01,9E,5246,MSP,MKE,33.0,8.0,0.0,64.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-01,9E,5249,ATL,PHF,8.0,-5.0,0.0,90.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-01,9E,5249,PHF,ATL,-6.0,-2.0,0.0,121.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-01-01,9E,5250,MSP,CLE,10.0,-5.0,0.0,102.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-01-01,9E,5254,MSP,RDU,-5.0,-27.0,0.0,139.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583980,2019-01-31,UA,200,GUM,HNL,-1.0,-23.0,0.0,403.0,NaN,NaN,NaN,NaN,NaN,NaN
583981,2019-01-31,UA,174,GUM,SPN,-13.0,-12.0,0.0,42.0,NaN,NaN,NaN,NaN,NaN,NaN
583982,2019-01-31,UA,117,SPN,GUM,-18.0,-22.0,0.0,36.0,NaN,NaN,NaN,NaN,NaN,NaN
583983,2019-01-31,UA,105,SPN,GUM,-5.0,-11.0,0.0,34.0,NaN,NaN,NaN,NaN,NaN,NaN
583984,2019-01-31,UA,104,GUM,SPN,-14.0,-12.0,0.0,43.0,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.head()

,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,DEP_DELAY,ARR_DELAY,CANCELLED,ACTUAL_ELAPSED_TIME,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 14
0,2019-01-01,9E,5246,MSP,MKE,33.0,8.0,0.0,64.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-01,9E,5249,ATL,PHF,8.0,-5.0,0.0,90.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-01,9E,5249,PHF,ATL,-6.0,-2.0,0.0,121.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-01-01,9E,5250,MSP,CLE,10.0,-5.0,0.0,102.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-01-01,9E,5254,MSP,RDU,-5.0,-27.0,0.0,139.0,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.shape

(583985, 15)

In [14]:
df.groupby(['ORIGIN'])['DEP_DELAY'].mean()

ORIGIN
ABE    12.208723
ABI     5.428571
ABQ     3.961062
ABR     9.983333
ABY     2.783133
         ...
VPS     3.480573
WRG    11.913793
XNA     9.654492
YAK    -1.218182
YUM    -0.756522
Name: DEP_DELAY, Length: 346, dtype: float64

In [16]:
df.groupby(['ORIGIN'],sort=False)["DEP_DELAY"].max()

ORIGIN
MSP    1266.0
ATL    1434.0
PHF     193.0
RIC    1042.0
OMA    1245.0
        ...
SMX     139.0
OGS     268.0
PPG      13.0
OGD      91.0
LYH      34.0
Name: DEP_DELAY, Length: 346, dtype: float64

In [17]:
df.groupby(['ORIGIN'],sort=False)["DEP_DELAY"].mean()

ORIGIN
MSP    10.043536
ATL     5.762911
PHF    -2.709402
RIC    10.152151
OMA    10.954499
         ...
SMX    17.000000
OGS    49.900000
PPG     3.000000
OGD    35.875000
LYH    -4.521739
Name: DEP_DELAY, Length: 346, dtype: float64

In [23]:
print("Dep_delay from ATL :",round(dt['ATL'],2))

KeyError: 'ATL'